@page
@model RosBilRP.Pages.Opgaver.AlleModel
@{
}

<h1 class="display-3 mb-5">Opgaver</h1>

<div class="container">
    <div class="row">
        @foreach (var elem in Model.Data)
        {
            <div class="col-md-4 p-3">
                <div class="card shadow" style="width: 18rem;">
                    <div class="card-body d-flex flex-column">
                        <h3 class="card-title">@elem.Ansat.Navn</h3>
                        <h4>@elem.Leje.Bil.Nummerplade</h4>
                        <h4>@elem.Leje.Dato.ToShortDateString()</h4>
                        <h5>@elem.Beskrivelse</h5>
                        <h5>@(elem.Afsluttet ? "Afsluttet" : "I Gang")</h5>
                        <div>
                            @if (Model.CanDelete(elem.Id))
                            {
                                <a class="btn btn-outline-danger btn-sm mt-3"
                                type="button"
                                title="Slet"
                                asp-page="Slet"
                                asp-route-id="@elem.Id">
                                    <i class="bi-trash"></i>
                                </a>
                            }
                            @if (!elem.Afsluttet)
                            {
                                <a class="btn btn-outline-info btn-sm mt-3"
                                type="button"
                                title="Afslut"
                                asp-page="Afslut"
                                asp-route-id="@elem.Id">
                                    <i class="bi-stop-circle"></i>
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<p>
    <a class="btn btn-outline-primary mt-3" asp-page="Opret"> Opret ny Opgave </a>
</p>
